{% extends 'base.html' %}
{% block title %}LOG{% endblock %}
{% block inner %}
    <div class="panel panel-default">
        <div class="panel-body" style="font-size: 20px;line-height: 30px">

                <div class="row">
                    <div class="col-md-offset-1">
                    <h1 style="font-family: 'Microsoft YaHei UI'">
                        菜鸟的建站日记
                    </h1>
                        在mac上安装前请运行这个命令：npm install sqlite3 --target_arch=x64

                    </div>

                </div>


        </div>
    </div>










{% endblock %}